openapi: 3.2.0
info:
  title: 'Product Information Webservice Customer Information: API Key API'
  description: Provides valuable information on products from multiple manufacturers, including SIEMENS.
  version: v2-earlyaccess
  contact:
    name: ''
    url: ''
    email: lifecycle-webservices.industry@siemens.com
  license:
    name: Siemens Inner Source License - 1.1
    url: /static/license
  termsOfService: https://new.siemens.com/global/en/general/terms-of-use.html
servers:
- url: https://product-information-hub.siemens.cloud
  description: Production Server
tags:
- name: 'Customer Information: API Key'
paths:
  /api/api-key-details:
    get:
      operationId: get-api-key-details
      summary: ''
      description: Verify and monitor the status of your API key with this endpoint. It provides essential information regarding your API key's validity and remaining credit balance for each resource available.
      tags:
      - 'Customer Information: API Key'
      parameters: []
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiKeyDetails'
        '401':
          description: The api key was missing, malformed or did not exist in the database.
          content:
            application/json:
              schema:
                example:
                  statusCode: 401
                  message: Missing or malformed api key
                  error: Unauthorized
      security:
      - Authorization: []
components:
  schemas:
    ApiKeyDetails:
      type: object
      properties:
        customerId:
          type: string
          description: The id of the customer (owner of the api key).
          example: 1d616354-1451-4d66-b001-1a44e6d51086
          format: uuid
        customerName:
          type: string
          description: The name of the customer.
          example: Epic GmbH
        apiKeyExpiryDate:
          type: string
          description: The expiry date of the api key, after which it can no longer be used.
          example: '2023-02-12T11:54:55.031Z'
          format: date-time
        credits:
          type: object
          description: An object of numerical credits that this api key owns. Each credit belongs to a specific resource like `Obsolescence` or `Delivery` and is decremented for each request to that specific resource.
          example:
            obsolescence: 1
            delivery: 2
      required:
      - customerId
      - customerName
      - apiKeyExpiryDate
      - credits
  securitySchemes:
    Authorization:
      type: apiKey
      in: header
      name: Authorization
